body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #11141e;
}

canvas {
  border: 3px solid #28334d;
  max-width: 95%;
  max-height: 95vh;
}
